:root {
    --gray-100: #f2f2f2;
    --gray-200: #cccccc;
    --gray-300: #a5a5a5;
    --gray-400: #7f7f7f;
    --gray-500: #595959;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--gray-100);
}

.clickable {
    cursor: pointer;
}
