.chat {
    position: absolute;
    height: 90vh;
    width: 50vw;
    top: 5vh;
    left: 30vw;

    border-radius: 0.5rem;
    background-color: #e9ecef;
    border: 3px solid var(--gray-500);

    overflow: hidden;
}

.chat-info {
    height: 8%;
    background-color: var(--gray-400);
    color: var(--gray-100);
    padding: 1rem;
    text-align: center;
}

.chat-content {
    height: 84%;
    background-color: var(--gray-100);
    padding: 1rem;

    border-top: 3px solid var(--gray-500);
    overflow-y: scroll;
}

.chat-input {
    height: 8%;
    width: 100%;
    background-color: var(--gray-200);
    border-top: 3px solid var(--gray-500);

    display: flex;
}

.chat-input textarea {
    flex: 1;

    background-color: var(--gray-100);
    border: none;

    padding: 1rem;
    font-size: large;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat-input textarea::-webkit-scrollbar {
    display: none;
}

.chat-input button {
    width: auto;
    padding: 0 2rem;

    font-weight: 900;
    font-size: large;

    background-color: var(--gray-200);
    color: var(--gray-500);

    border: none;
    border-left: 3px solid var(--gray-500);
}

.left {
    text-align: left;
    justify-content: flex-start;
}

.right {
    text-align: right;
    justify-content: flex-end;
}

.message-container {
    width: 100%;
    display: flex;
}

.message {
    border-radius: 0.5rem 0.5rem 0rem 0.5rem;
    margin: 1rem 0;
    padding: 0.5rem;
    width: fit-content;

    display: flex;

    background-color: green;
    color: var(--gray-100);
}

.left .message {
    background-color: var(--gray-500);
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    flex-direction: row-reverse;
}

.message .text {
    font-size: larger;
}

.message .sender {
    font-weight: lighter;
    opacity: 0.8;
}

.message-hover {
    opacity: 0;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    position: relative;

    transform: scale(0);

    transition: all 0.3s;
}

.left .message .message-hover {
    margin-right: 0.25rem;
}

.message-hover.show {
    opacity: 1;
    transform: scale(1);
}

.message-hover.show .message-opener {
    color: var(--gray-100);
    transition: all 0.3s;
}
.message-hover.show .message-opener:hover {
    color: var(--gray-200);
}

.message-menu {
    pointer-events: none;
    position: absolute;
    z-index: -10;
    right: 0;

    padding: 0.5rem;
    border: 1px solid var(--gray-400);
    border-radius: 0.5rem 0 0.5rem 0.5rem;

    opacity: 0;
    background-color: var(--gray-200);
    color: var(--gray-500);

    transform: scaleY(0.2);
    transform-origin: top;

    transition: all 0.3s;
}

.message-menu.show {
    pointer-events: all;
    opacity: 1;
    z-index: 100;
    transform: scaleY(1);
}

.left .message .message-hover .message-opener .message-menu {
    left: 0;
    right: auto;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
}

.message-menu .menu-item {
    display: flex;
    padding: 0.5rem 0;
}

.message-menu .menu-item:hover {
    color: var(--gray-400);
}

.message-edit {
    background: none;
    border: none;
    color: var(--gray-200);

    width: 30vw;
    overflow-y: scroll;

    outline: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.message-edit::-webkit-scrollbar {
    display: none;
}

.message-edit:focus {
    outline: none;
}

.message-edit-btn {
    width: fit-content;

    border: 2px solid var(--gray-100);
    border-radius: 0.5rem;

    padding: 0.25rem 0.5rem;

    font-weight: bold;
    cursor: pointer;

    transition: all 0.3s;
}

.message-edit-btn:hover {
    background-color: var(--gray-100);
    color: green;
}

.chat-name {
    text-align: center;
    color: var(--gray-500);
}

.chat-users h3 {
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    color: var(--gray-500);
    font-size: 1.5rem;
}

.chat-users div {
    text-align: center;
    margin: 0.5rem 0;
    color: var(--gray-500);
}

.chat-users div h5 {
    font-size: larger;
}

.chat-users div span {
    font-size: medium;
    font-style: italic;
    opacity: 0.8;
}
